@import "reset.scss";

$red: #FF696E;
$red-light: #FFAFAC;
$gray-light: #E2E3D9;

* {
    // Font styles needed here due to Chrome setting weird defaults without these 
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 1em;
    font-weight: 100;

    box-sizing: border-box;
}

html {
}

body {
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
}


#root {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1em;
}



.button {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $red;
    border: 0;
    font-weight: 100;
    letter-spacing: 0.1em;

    cursor: pointer;

    transition: background-color 0.1s;

    &:hover {
        background: $red-light;
    }

}
.small-button {
    @extend .button;
    font-size: 0.7em;  
    font-weight: 200;  
}

.input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    &:focus {
        border: 1px solid rgba(255, 105, 110, 0.5);
        box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);
    }
}

input:focus, button:focus {
    outline: 0;
}

.navigation-bar {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    border-bottom: 2px solid #eee;

    .links {
        a {
            @extend .small-button;
            display: inline-block;
            margin: 0 0.2em;
        }
    }
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: $red;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.05em;
    color: $red;
}

h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $red;
}

.title {
    display: inline-block;
    color: white;
    background-color: $red;
    width: 100%;
    text-align: center;
    padding: 1em 0.5em;
    margin: 0.5em 0;
}

.center {
    text-align: center;
}



// #### PAGES ##############################
// Login page ------------------------------
.login-wrap {

    .logo-wrap {
        img {
            max-width: 150px;
            width: 100%;
            margin: 1em;
        }
    }

    form {
        margin: 1em 0;
        @extend .center;

        .input {
            margin-bottom: 1em;
        }
    }

}

// Event page --------------------------------
.event {
    .meta {
        float: left;
    }
    .buttons {
        float: right;
    }
}



// #### COMPONENTS ##############################
// Event page --------------------------------
.occurrence-component {
    margin: 2em 1em;
    padding: 2em 1em;
    
    background-color: $gray-light;

    .info {
        float: left;

        .date {
            font-weight: bold;
        }
    }
}


// Notification box -----------------------------
.notification-area {
    margin-top: 1em;
    padding: 1em;
    opacity: 0;
    background-color: $red-light;
    transition: opacity 0.5s;

    box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);

    .notification-text {
        font-weight: 100;
        display: inline-block;
    }
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}





/*
    CLEARFIX HACK
    (http://nicolasgallagher.com/micro-clearfix-hack/)
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

