@import "reset.scss";

$red: #FF696E;
$red-light: #FFAFAC;
$gray-light: #E2E3D9;

* {
    // Font styles needed here due to Chrome setting weird defaults without these 
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 1em;
    font-weight: 100;

    box-sizing: border-box;
}

html {
}

body {
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 18px;
}


#root {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1em;
}



.button,
button {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $red;
    border: 0;

    font-weight: 100;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-align: center;

    cursor: pointer;

    transition: background-color 0.1s;

    &:hover {
        background: $red-light;
    }

    &.full {
        width: 100%;
    }


}


.input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    &:focus {
        border: 1px solid rgba(255, 105, 110, 0.5);
        box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);
    }
}

input:focus, button:focus {
    outline: 0;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

h1, h2, h3, h4 {
    letter-spacing: 0.05em;
    color: $red;
    margin: 0.5em 0;

    &.link {
        cursor: pointer;
        &:hover {
            background-color: $red;
            color: #FFF;
        }
    }
}
h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 100;
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 200;
    
}

h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 500;
}

h1.title {
    display: inline-block;
    padding: 2px 0;
    margin: 2px 0 4px 0;

    font-size: 2em;
    text-align: right;

    background-color: $red;
    color: #FFF;
}

h4.location {
    display: inline-block;
    color: #FFF;
    background-color: $red;
    padding: 3px 0;
    text-align: center;
    width: 100%;
    margin: 0;
}

p {
    margin-bottom: 0.5em;
}
.title {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1em 0.5em;
    margin: 0.5em 0;

    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    border-left: 10px solid $red;
    border-right: 10px solid $red;
}

.center {
    text-align: center;
}

hr { 
    display: block; height: 1px;
    border: 0; border-top: 1px solid $red;
    margin: 1em 0; padding: 0; 
}



// #### PAGES ##############################
// Login page ------------------------------
.login-wrap {

    .logo-wrap {
        img {
            max-width: 150px;
            width: 100%;
            margin: 1em;
        }
    }

    form {
        margin: 1em 0;
        @extend .center;

        .input {
            margin-bottom: 1em;
        }
    }

}

// Search page ---------------------------------
.search-page {
    input {
        font-size: 1.5em;
        padding: 0.1em;
    }
}

// Occurrence-page -----------------------------
.occurrence-page {
    .meta {
        margin-bottom: 1em;


        .info {
            float: left;
            display: block;
            margin-top: 0.5em;

            p {
                margin: 0;
            }

            .status {
                font-weight: 500;
            }

        }

        button#sellticket {
            float: right;
        }
    }
}

// Reservation-page -------------------------------
.reservation-page {
    .buttons {
        margin-top: 0.7em;

        button {
            margin: 0 auto 1em auto;
            display: block;
            min-width: 80%;  
        }
    }
}

// Event-page -------------------------------------






// #### COMPONENTS ##############################
// Event component --------------------------------
.event-component {
    @extend .clearfix;
    display: block;
    height: 100%;
    margin-bottom: 2em;

    .meta {
        width: 100%;
        margin-bottom: 0.5em;
    }

    button {
        float: right;
        margin-top: 1em 0;
    }
}

// Occurrence --------------------------------
.occurrence-component {
    margin: 0.5em 1em 2em 0em;
    width: 100%;
    position: relative;
    border: 1px solid $red;

    p {
        margin: 0;
    }

    .info {
        padding: 1em 1em;
        float: left;

        .date {
            font-weight: bold;
        }
    }

    button.infobutton {
        position: absolute;
        margin: 0;
        right: 0;
        height: 100%;
        padding: 1em;
        display: block;
    }
}


// Notification box -----------------------------
.notification-area {
    margin-top: 1em;
    padding: 1em;
    opacity: 0;
    background-color: $red-light;
    transition: opacity 0.5s;

    box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);

    &.show {
        opacity: 1;
    }

    .notification-text {
        font-weight: 100;
        display: inline-block;
    }
}

// Navigation
.navigation-bar {
    margin-bottom: 0.2em;
    padding: 0.5em 0;
    text-align: center;
    border-bottom: 2px solid $red;

    .links {
        .events, .search {float: left;}
        .logout {float:right}
    }
}

// Reservation component
.reservation-component {

    width: 100%;
    border: 1px solid $red;
    margin-bottom: 0.5em;
    position: relative;

    .id {
        float: left;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em;
    }

    .reserver {
        float: left;
        font-size: 0.7em;
        margin: 1.5em 0.1em;
    }

    .status {
        margin: 0;
        display: inline-block;
        padding: 1em 0.5em;
        height: 100%;
        position: absolute;
        right: 0;
        
        background-color: $red;
        color: white;

        font-weight: 100;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 0.7em;


        &.redeemed {
            background-color: $red-light;
        }
    }
}

.footer {
    border-top: 1px solid $red;

    margin-top: 20px;
    padding: 0.5em 0;
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
}




/*
    CLEARFIX HACK
    (http://nicolasgallagher.com/micro-clearfix-hack/)
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

