/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


body {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 18px; }

#root {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1em; }

.button, button {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FF696E;
  border: 0;
  font-weight: 100;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; }
  .button:hover, button:hover {
    background: #FFAFAC; }
  .button.full, button.full {
    width: 100%; }

.input {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  background: white;
  text-align: center; }
  .input:focus {
    border: 1px solid rgba(255, 105, 110, 0.5);
    -webkit-box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);
    box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2); }

input:focus, button:focus {
  outline: 0; }

.hide {
  opacity: 0; }

.show {
  opacity: 1; }

h1, h2, h3, h4 {
  letter-spacing: 0.05em;
  color: #FF696E;
  margin: 0.5em 0; }
  h1.link, h2.link, h3.link, h4.link {
    cursor: pointer; }
    h1.link:hover, h2.link:hover, h3.link:hover, h4.link:hover {
      background-color: #FF696E;
      color: #FFF; }

h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 100; }

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 200; }

h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400; }

h4 {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 500; }

h1.title {
  display: inline-block;
  padding: 2px 0;
  margin: 2px 0 4px 0;
  font-size: 2em;
  text-align: right;
  background-color: #FF696E;
  color: #FFF; }

h4.location {
  display: inline-block;
  color: #FFF;
  background-color: #FF696E;
  padding: 3px 0;
  text-align: center;
  width: 100%;
  margin: 0; }

p {
  margin-bottom: 0.5em; }

.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1em 0.5em;
  margin: 0.5em 0;
  border-top: 1px solid #FF696E;
  border-bottom: 1px solid #FF696E;
  border-left: 10px solid #FF696E;
  border-right: 10px solid #FF696E; }

.center, .login-wrap form {
  text-align: center; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #FF696E;
  margin: 1em 0;
  padding: 0; }

.login-wrap .logo-wrap img {
  max-width: 150px;
  width: 100%;
  margin: 1em; }
.login-wrap form {
  margin: 1em 0; }
  .login-wrap form .input {
    margin-bottom: 1em; }

.search-page input {
  font-size: 1.5em;
  padding: 0.1em;
  margin: 0.4em 0; }

.occurrence-page .meta {
  margin-bottom: 1em; }
  .occurrence-page .meta .info {
    float: left;
    display: block;
    margin-top: 0.5em; }
    .occurrence-page .meta .info p {
      margin: 0; }
    .occurrence-page .meta .info .status {
      font-weight: 500; }
  .occurrence-page .meta button#sellticket {
    float: right; }

.reservation-page .buttons {
  margin-top: 0.7em; }
  .reservation-page .buttons button {
    margin: 0 auto 1em auto;
    display: block;
    min-width: 80%; }

.event-component {
  display: block;
  height: 100%;
  margin-bottom: 2em; }
  .event-component .meta {
    width: 100%;
    margin-bottom: 0.5em; }
  .event-component button {
    float: right;
    margin-top: 1em 0; }

.occurrence-component {
  margin: 0.5em 1em 2em 0em;
  width: 100%;
  position: relative;
  border: 1px solid #FF696E; }
  .occurrence-component p {
    margin: 0; }
  .occurrence-component .info {
    padding: 1em 1em;
    float: left; }
    .occurrence-component .info .date {
      font-weight: bold; }
  .occurrence-component button.infobutton {
    position: absolute;
    margin: 0;
    right: 0;
    height: 100%;
    padding: 1em;
    display: block; }

.notification-area {
  margin-top: 1em;
  padding: 1em;
  opacity: 0;
  background-color: #FFAFAC;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);
  box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2); }
  .notification-area.show {
    opacity: 1; }
  .notification-area .notification-text {
    font-weight: 100;
    display: inline-block; }

.navigation-bar {
  margin-bottom: 0.2em;
  padding: 0.5em 0;
  text-align: center;
  border-bottom: 2px solid #FF696E; }
  .navigation-bar .links .events, .navigation-bar .links .search {
    float: left; }
  .navigation-bar .links .logout {
    float: right; }

.reservation-component {
  width: 100%;
  border: 1px solid #FF696E;
  margin-bottom: 0.5em;
  position: relative; }
  .reservation-component .id {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em; }
  .reservation-component .reserver {
    float: left;
    font-size: 0.7em;
    margin: 1.5em 0.1em; }
  .reservation-component .status {
    margin: 0;
    display: inline-block;
    padding: 1em 0.5em;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #FF696E;
    color: white;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.7em; }
    .reservation-component .status.redeemed {
      background-color: #FFAFAC; }

.footer {
  border-top: 1px solid #FF696E;
  margin-top: 20px;
  padding: 0.5em 0;
  text-align: right;
  font-size: 0.7em;
  font-style: italic; }

/*
    CLEARFIX HACK
    (http://nicolasgallagher.com/micro-clearfix-hack/)
*/
.clearfix:before, .event-component:before, .clearfix:after, .event-component:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .event-component:after {
  clear: both; }
